<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VideoB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VideoBank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VideoC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VideoEnergy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>VideoGovernment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VideoManufacturing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>VideoTraffic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>650D99771BD08684007C5337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650D99901BD08684007C5337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650D999B1BD08684007C5337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6537A9BF1BDDBFB6005545D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6537A9DA1BDDBFDA005545D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D5DEA51BD5E3DC0038C688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E596C81BDE07C10084FA5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E596E31BDE099F0084FA5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F730A71BD4CB69008972B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F730BF1BD4CB69008972B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F730CA1BD4CB69008972B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F730E21BD4DEC4008972B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F730FA1BD4DEC4008972B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F731051BD4DEC4008972B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
